<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
    <button (click)="dialogRef.close()" class="modal-close-button" aria-label="Fermer la boîte de dialogue">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form class="register-form m-4 " [formGroup]="prescriptionForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
        <div class="mb-4">
          <ng-multiselect-dropdown formControlName="symptoms"
                                   [placeholder]="'Select symptoms'"
                                   [settings]="dropdownSettings"
                                   [data]="dropdownList"
                                   [(ngModel)]="selectedItems">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
        <div class="mb-4">

        </div>
      </div>
    </div><div class="row">
    <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
      <div class="mb-4">

      </div>
    </div>
  </div><div class="row">
    <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
      <div class="mb-4">

      </div>
    </div>
  </div>
    <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
      <div class="mb-4">

      </div>
    </div>
<div class="row">
  <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
    <div class="mb-4">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
    <div class="mb-4">

    </div>
  </div>
</div><div class="row">
  <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
    <div class="mb-4">

    </div>
  </div>
</div><div class="row">
  <div class="col-xl-20 col-lg-18 col-md-20 col-sm-18 mb-20">
    <div class="mb-4">

    </div>
  </div>
</div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="mb-2 example-button-row">
          <button mat-raised-button color="primary" [disabled]="!prescriptionForm.valid" [mat-dialog-close]="1" (click)="submit()">Save</button>
          <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </div>
    </div>
  </form></div>
