<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'New Allotment'" [items]="['Room']" [active_item]="'New Allotment'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> New Allotment</strong></h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">


              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>planDescription</mat-label>
                    <input matInput formControlName="planDescription" required>
                    @if (roomForm.get('planDescription')?.hasError('required')) {
                    <mat-error>
                      plan Description is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>startDate</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (roomForm.get('startDate')?.hasError('required')) {
                    <mat-error>
                      Please select start Date
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Discharge Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="endDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    @if (roomForm.get('endDate')?.hasError('required')) {
                    <mat-error>
                      Please select date
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!roomForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
