<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- Breadcrumb -->
      <app-breadcrumb [title]="'Nutrition Assessment'" [items]="['Patients', 'Nutrition Assessment']" [active_item]="'Nutrition Assessment'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Nutrition Assessment</h2>
          </div>
          <p>{{ assessmentResults }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
