<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div
        class="left-img"
        style="background-image: url(assets/images/pages/bg-02.png)"
      ></div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg">Sign Up</h2>
          <p class="auth-signup-text text-muted">
            Enter details to create your account
          </p>
          <form
            class="validate-form"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" required />
                  <mat-icon
                    class="material-icons-outlined color-icon p-3"
                    matSuffix
                    >face</mat-icon
                  >
                  @if (authForm.get('username')!.hasError('required')) {
                  <mat-error> Username is required </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" required>
                    <mat-option [value]="'Male'"> Male </mat-option>
                    <mat-option [value]="'Female'"> Female </mat-option>
                  </mat-select>
                  @if (authForm.get('gender')?.hasError('required')) {
                  <mat-error> Gender is required </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Mobile</mat-label>
                  <input
                    matInput
                    formControlName="mobile"
                    type="number"
                    required
                  />
                </mat-form-field>
                @if (authForm.get('mobile')?.hasError('invalidMobile') &&
                authForm.get('mobile')?.touched){
                <mat-error> phone number invalid </mat-error>
                } @if (authForm.get('mobile')?.hasError('Required') &&
                authForm.get('mobile')?.touched){
                <mat-error> phone number Required </mat-error>
                }
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required />
                  <mat-icon
                    class="material-icons-outlined color-icon p-3"
                    matSuffix
                    >mail</mat-icon
                  >
                  @if (authForm.get('email')!.hasError('required') ||
                  authForm.get('email')!.touched) {
                  <mat-error> Please enter a valid email address </mat-error>
                  } @else if (authForm.get('email')!.hasError('emailNotUnique')
                  || authForm.get('email')!.touched) {
                  <mat-error> nnnnnnnnnnnnnnnnnnnnnnnnnnnnn </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    type="password"
                    required
                  />
                  <mat-icon
                    class="material-icons-outlined pwd-toggle p-3"
                    matSuffix
                    (click)="chide = !chide"
                  >
                    {{ chide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                  @if (authForm.get('password')?.hasError('required')) {
                  <mat-error> password is required </mat-error>
                  } @if
                  (authForm.get('password')?.hasError('passwordRequirements')){
                  <mat-error>
                    password must contain at least 1 uppercase , 1 lowercase , 1
                    number and a symbol also it must be at least 8 characters
                    long
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    formControlName="cpassword"
                    [type]="chide ? 'password' : 'text'"
                    required
                  />
                  <mat-icon
                    class="material-icons-outlined pwd-toggle p-3"
                    matSuffix
                    (click)="chide = !chide"
                  >
                    {{ chide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                  @if (authForm.get('cpassword')!.hasError('required')) {
                  <mat-error> Confirm Password is required </mat-error>
                  } @if
                  (authForm.get('cpassword')?.hasError('passwordMismatch')){
                  <mat-error> password Mismatch </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Date Of Birth</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="date"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  @if (authForm.get('date')?.hasError('required')) {
                  <mat-error> Please select date </mat-error>
                  } @if (authForm.get('date')?.hasError('minimumAge')){
                  <mat-error>
                    You must be at least 18 years old to register.
                  </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Address</mat-label>
                  <textarea matInput formControlName="address"></textarea>
                  <mat-icon
                    class="material-icons-outlined color-icon p-3"
                    matSuffix
                    >home</mat-icon
                  >
                </mat-form-field>
              </div>

              <lr-config
                ctx-name="my-uploader"
                pubkey="7cf1931b8c3914347aa3"
                multiple="false"
                removeCopyright="true"
                sourceList="local, url, camera, dropbox, gdrive"
                use-cloud-image-editor="true"
              ></lr-config>

              <lr-file-uploader-regular
                ctx-name="my-uploader"
                class="parentContainer"
                css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.30.0/web/lr-file-uploader-regular.min.css"
              ></lr-file-uploader-regular>

              <lr-upload-ctx-provider
                ctx-name="my-uploader"
                #ctxProvider
              ></lr-upload-ctx-provider>

              <div *ngFor="let uploadedFile of uploadedFiles">
                <img
                  src="{{ uploadedFile.cdnUrl + '/-/preview/-/resize/x200/' }}"
                  *ngIf="uploadedFile.cdnUrl"
                />
              </div>

              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option [value]="'DOCTOR'"> Doctor </mat-option>
                    <mat-option [value]="'Patient'"> Patient </mat-option>
                    <mat-option [value]="'HealthcareStaff'">
                      Healthcare Staff
                    </mat-option>
                    <mat-option [value]="'Admin'"> Admin </mat-option>
                  </mat-select>
                  @if (authForm.get('role')?.hasError('required')) {
                  <mat-error> Role is required </mat-error>
                  }
                </mat-form-field>
              </div>
              <div>
                @if(authForm.get('role')!.value === 'DOCTOR'){
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Spetialization</mat-label>
                    <input matInput formControlName="specialization" />
                  </mat-form-field>
                </div>
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Degree</mat-label>
                    <textarea matInput formControlName="degree"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="department" required>
                      <mat-option [value]="'Neurology'"> Neurology </mat-option>
                      <mat-option [value]="'Orthopedics'">
                        Orthopedics
                      </mat-option>
                      <mat-option [value]="'Gynaecology'">
                        Gynaecology
                      </mat-option>
                      <mat-option [value]="'Microbiology'">
                        Microbiology
                      </mat-option>
                    </mat-select>
                    @if (authForm.get('department')?.hasError('required')) {
                    <mat-error> Select Any Department </mat-error>
                    }
                  </mat-form-field>
                </div>
                }
              </div>
              <div>
                @if(authForm.get('role')?.value == 'HealthcareStaff'){
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Designation</mat-label>
                    <textarea matInput formControlName="designation"></textarea>
                  </mat-form-field>
                </div>
                }
              </div>
            </div>
            <div class="flex-sb-m w-full p-b-20">
              <div>
                <span
                  >Already Registered?
                  <a routerLink="/authentication/signin"> Login </a></span
                >
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button
                mat-raised-button
                color="primary"
                (click)="(onSubmit)"
                class="auth-form-btn"
                [disabled]="!authForm.valid"
                type="submit"
              >
                Register
              </button>
            </div>
          </form>
          <div>
            <h3 class="social-login-title">OR</h3>
            <ul class="list-unstyled social-icon mb-0 mt-3">
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-google"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="rounded flex-c-m">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
