<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- Breadcrumb -->
      <app-breadcrumb [title]="'Nutrition Assessment'" [items]="['Patients', 'Nutrition Assessment']" [active_item]="'Nutrition Assessment'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <script defer src="face-api.min.js"></script>
            <script defer src="script.js"></script>
            <h1>aaaaaaaaaaaaaaaaaa</h1>
            <video #video autoplay muted></video>
            <h1>aaaaaaaaaaaaaaaaaa</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
