

<section class="content">

  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Prescription list'" [items]="['Prescription']" [active_item]="'prescription'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Prescription List</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" #filter class="browser-default search-field"
                         aria-label="Search box">
                </li>

              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ADD">
                    <button mat-mini-fab color="primary" (click)="addNew()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="REFRESH">
                    <button mat-mini-fab color="primary" (click)="refresh()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                    <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="pdf">
                    <img src="assets/images/icons/pdf.jpg" alt="" (click)="generatePDF()" />
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="body overflow-auto">
            <div class="responsive_table">
              <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                <!-- Checkbox Column -->

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let row">#{{row.id}}</mat-cell>
                </ng-container>



                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Prescription title
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"><span class="mobile-label">title:</span> {{row.title?.toString() || 'No Title'}}</mat-cell>
                </ng-container>


                <!--  <ng-container matColumnDef="patient">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>patient Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label">title:</span> {{row.patient.address}}</mat-cell>
                  </ng-container>  -->
                <ng-container matColumnDef="doctor_name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>doctor name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"><span class="mobile-label">title:</span> {{row.doctor_name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="diseases">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-100'">diseases
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <span     class="badge col-green" [ngClass]="'tbl-col-width-per-80'"><span
                  ></span>{{row.diseases}}</span></mat-cell>
                </ng-container>


                <ng-container matColumnDef="symptoms">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-100'">symptoms
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <span   [ngClass]="'tbl-col-width-per-80'"><span
                  ></span>{{row.symptoms}}</span></mat-cell>
                </ng-container>





                <ng-container matColumnDef="createdDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Date</mat-header-cell>
                  <mat-cell  *matCellDef="let row"> <span class="mobile-label">Purchase
                      Date:</span>{{row.createdDate | date: 'MM/dd/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="approved">
                  <mat-header-cell *matHeaderCellDef>Approved</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">Approved:</span>
                    <span [ngClass]="{'col-green': row.approved, 'col-red': !row.approved}">
                          {{ row.approved ? 'Yes' : 'No' }}
                  </span>
                  </mat-cell>

                </ng-container>
                <!-- actions -->
         <!--       <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button
                            (click)="$event.stopPropagation()"
                            (click)="editCall(row)"
                            class="tbl-action-btn"
                            [disabled]="row.approved">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>   -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <!--  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                         [style.cursor]="'pointer'" matRipple>
                </mat-row> -->
              </table>
              <!-- Loading spinner -->
              @if (exampleDatabase?.isTblLoading) {
              <div class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              }
              @if (!exampleDatabase?.isTblLoading) {
              <div class="no-results" [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                No results
              </div>
              }
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="50"
                             [pageSizeOptions]="[50, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>
