<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="medicineListForm" (ngSubmit)="submit">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Medicine Name</mat-label>
            <input matInput formControlName="m_name" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>medication</mat-icon>
            @if (medicineListForm.get('m_name')?.hasError('required')) {
            <mat-error>
              Medicine Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>medForm</mat-label>
            <mat-select formControlName="medForm" required>
              <mat-option [value]="'Tablet'">
                Tablet
              </mat-option>
              <mat-option [value]="'SYRUP'">
                Syrup
              </mat-option>
              <mat-option [value]="'Injectable'">
                Injectable
              </mat-option>
            </mat-select>
            @if (medicineListForm.get('medForm')?.hasError('required')) {
            <mat-error>
              Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> medDosage</mat-label>
            <input matInput formControlName="medDosage" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>store</mat-icon>
            @if (medicineListForm.get('medDosage')?.hasError('required')) {
            <mat-error>
              medDosage is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>description</mat-label>
            <input matInput formControlName="medDescription" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>monetization_on</mat-icon>
            @if (medicineListForm.get('medDescription')?.hasError('required')) {
            <mat-error>
              medDescription is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>medPhoto</mat-label>
            <input matInput formControlName="medPhoto"  required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>inventory_2</mat-icon>
            @if (medicineListForm.get('medPhoto')?.hasError('required')) {
            <mat-error>
              medPhoto is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!medicineListForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
